*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    height: 18px;
}

header div > img {  /*logo*/
    height: 75px;
    justify-content: left;
}

header,
section h2,
section h3,
form button{
    font-family: 'Young Serif', serif;
    font-weight: normal;

}

body, input, textarea{
    font-family: 'Young Serif', serif;

}

header{
    padding: 16px 0;
    background-color: #000000;
    color: #ffffff;
}

header h1, section h2{
    font-weight: normal;
}

header nav li{
    display: inline;
    margin-left: 16px;
    text-align: right;
}

header nav li a{
    color: #ecf0f1;
    font-size: 18px;
    text-decoration: none;
}


/* container no header serve para centralizar o conteudo e distribuição titulo do site na esquerdo e menu na direita */
.container{
    max-width: 1200px; /*passando desse tamanho ele fica centralizado na tela*/
    width: 100%;
    margin: 0 auto;
}


section .container1{
    max-width: 1200px; /*passando desse tamanho ele fica centralizado na tela*/
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.itens-venda{
    display: flex;
    width: 100%;
    margin: 10px auto ;
    justify-content: space-between;
    text-align: center;
}

header .container{
    display: flex;
    align-items: center; /* centraliza-los na vertical*/
    justify-content: space-between; /*deixa o espaço entre os termos iguais*/
}

/* colocando o conteudo ao lado da imagem*/
section .container{
    display: flex;
    align-items: center; /*conteúdo começa pelo topo*/
    justify-content: space-between; 
}

section{
    padding: 24px 0;
    color: #000000;
}



section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

section div > img{
    margin-right: 32px;
    height: 350px;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: block;
    margin-right: 8px;
    margin-bottom: 10px;
}

.social-links li a{
    text-decoration: none;
}



form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

textarea{
    resize: none;
}

section h3{
    margin-bottom: 16px;
    height: 60px;
}

.mengo h3{
    margin-left: 0;
    text-align: center;
}

section .mengo img{
    height: 300px
}


form button{
    background-color: #50154d;
    color: white;
    border: none;
    cursor: pointer; /* cursor fica com o indicador quando esta sobre o conteúdo*/

}

form button:hover{
    background-color: #2e072c;
}


footer{
    background-color: #000000;
    color: #ecf0f1;
    padding: 16px 0;
}


.itens-venda{
    display: flex;
    margin: 0 15px;
    margin-bottom: 30px;
}

.botao {
    justify-content: space-between;
    margin-top: 20px ;
}

.preços >  s ,p  {
    text-align: left;
}

h4{
    font-weight: bolder;
    font-size: large;
    margin: 15px 0;
}

#contato > .container{
    align-items: flex-start;
}

.contact-methods{
    justify-content: space-between;
    
}


#contato{
    margin-bottom: 50px;
}

p {
    font-family: 'Mulish', sans-serif;
}